# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# python
__pycache__/
*.py[cod]

# Python comand history
uv_comands.md
